<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue To Do List</title>


        <!-- CSS -->
        <link rel="stylesheet" href="css/style.css">
        <!-- VUE -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    </head>
    <body>

        <div id="app">

            <div class="container">
                <h3>
                    {{ toDoTitle }}
                </h3>

                <div>
                    <input @keyup.enter="addTodo()" type="text" v-model="newTodo.text">
                    <button @click="addTodo()">
                        Aggiungi
                    </button>
                </div>

                <ul>
                    <li 
                        class="todo"
                        v-for="(singleTodo, i) in todos"
                        :class="singleTodo.done ? 'todo-done' : '' ">
                        <strong @click="changeDoneProperty(i)">
                            {{ singleTodo.text }}
                        </strong>
                        
                        <span @click="removeToDo(i)" >
                            X
                        </span>
                    </li>
                </ul>

            </div>

        </div>

        <script src="./js/scripts.js" type="text/javascript"></script>
    </body>
</html>